body {
  background-color: gray;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#canvas {
  height: 70vh;
  border: 1px solid black;
}
.colors {
  padding-top: 1em;
}
.colors button {
  border: none;
  width: 3em;
  height: 1.5em;
}
.colors button.selected {
  transform: scale(1.5);
}